@import '../variables.scss';

footer {
  background-color: $dark-color;
  color: white;
  padding: $spacing-xl $spacing-md;
  margin-top: $spacing-xxl;
  text-align: center;

  p {
    margin-bottom: $spacing-md;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $primary-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
